*{
  	margin: 0px;
  	padding: 0px;
}
.draggable { 
  	width: 150px; 
  	height: 150px; 
  	background: #e3e3e3;  
 	border-top-left-radius: 5px;
  	border-top-right-radius: 5px; 
	float: left;
	margin: 5px;
}
.navbar{
  margin-bottom: 0px;
}
.navbar-inner a{
  float: left;
  padding: 10px;
	font-size: 20px;
	font-weight: 200;
	color: #777777;
	text-shadow: 0 10px 0 #ffffff;
}
#drop {
	width: inherit;
    height: 700px;
	padding: 20px;
	background: #DEB887;
}
.title{
  width: auto;
  height: auto;
  padding: 10px;
  border-bottom: 1px solid black;
  background: brown;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.content, .ct {
  width: auto;
  height: 100px;
}
